{% extends 'base.html.twig' %}

{% block title %}Disc index{% endblock %}

{% block body %}



    <div class="row">
        <h1 class="col-9 col-md-11">Disc index</h1>
    </div>

        {{ form(formSearch) }}

    <div class="row">

    {# {% if discs | length == 0 %}

        <h4>No result</h4>

        {% else %} #}

            {% for disc in discs %}

                <div class="mb-2 ml-4 border-0 p-3 col-12 col-lg-6">
                    <div class="row hover-shadow offset-1">
                        <img class="card-img-left shadow bg-none rounded" style="width: 50%; height: 5%;" alt="disc" src="/img/{{ disc.picture }}">
                        <div class="card-body ml-3 col-3">

                            <h5 class="card-title">{{ disc.id }}
                            <strong>{{ disc.title }}</strong></h5>
                            <h6 class="card-text">{{ disc.label }}<h6>
                            <p class="card-text">{{ disc.artist.name }}</p>
                            
                            <a class="btn btn-danger" href="{{ path('app_disc_show', {'id': disc.id}) }}" role="button">show</a>
                            {# <a class="btn btn-danger" href="{{ path('app_disc_edit', {'id': disc.id}) }}" role="button">edit</a> #}
                        </div>
                    </div>
                </div>

            {% endfor %}

        {# {% endif %} #}
    </div>
{% endblock %}
